/*******************************************************************************
 * taskmanager.layout.scss
 * Layout theming
 ******************************************************************************/
.l-page {
  min-width: 720px;
}

.l-header:after,
.l-menu:after,
.l-main:after,
.l-column-container:after,
.l-sidebar:after {
  content: "";
  display: table;
  clear: both;
}

/*  HEADER  */
.l-header {
  *zoom: 1; /* IE 7 and below hack */
  max-width: 100%;
  height: 80px;
  _width: 100%; /* IE 6 and below hack */
}

.site-name {
  margin: 0 0 0 10px;
}

#front-logo {
  width: 430px;
  height: 80px;
}

.l-header .site-name,
.l-header .site-logo {
  float: left;
}

.l-header .l-menu {
  width: 100%;
}

.login-link {
  float: right;
}

/*  MAIN  */
.l-main {
  *zoom: 1; /* IE 7 and below hack */
  padding-right: 250px; /* sidebar testing */
}

/*  COLUMNS  */
.l-main .l-column-container {
  *zoom: 1; /* IE 7 and below hack */
  _width: 1190px; /* IE 6 and below hack */
  margin: 0 auto;
}

#main .l-region--column01 {
  position: relative;
}

.l-main .l-column-container .l-region--column01,
.l-main .l-column-container .l-region--column02,
.l-main .l-column-container .l-region--column03 {
  float: left;
  width: 33.3333%;
}

#main .l-region--column01 .view-columns .view-empty,
#main .l-region--column02 .view-columns .view-empty,
#main .l-region--column03 .view-columns .view-empty {
  padding-left: 25px;
}

/*  COLUMNS HEADER  */
#main .l-region--column01 .view-columns .view-header ul {
  padding: 0;
  margin: 0;
}

#main .l-region--column01 .view-columns .view-header ul li {
  position: absolute;
  top: 25px;
  right: 22px;
}


#main .l-region--column01 h2.block__title,
#main .l-region--column02 h2.block__title,
#main .l-region--column03 h2.block__title {
  padding: 10px 10px 10px 12px;
  margin: 8px 10px;
}

/*  TABLEDRAG WARNING  */
.tabledrag-changed-warning {
  height: 50px;
  padding: 10px 10px 10px 12px;
  margin: 8px 10px;
}

.tabledrag-changed-warning div {
  display: inline-block;
}

.tabledrag-changed-warning .text {
  margin-top: 2px;
}

.tabledrag-changed-warning .form-wrapper {
  margin: 0;
  float: right;
}

/*  COLUMNS LISTS/TABLE ROWS  */
.l-main .l-column-container .view-display-id-backlog .views-table {
  width: 100%;
}

.l-main .l-column-container .view-display-id-backlog .views-table tr,
.l-main .l-column-container .view-display-id-backlog .views-table tr .views-field {
  display: block;
}

#main .l-region--column01 .view-columns .view-content #draggableviews-table-columns-backlog tr,
.l-main .l-column-container .view-display-id-current .views-row,
.l-main .l-column-container .view-display-id-done .views-row {
  width: 95%;
  margin: 1px auto;
  padding: 4px;
}

/*  TASKS  */
#main .l-region--column01 .view-columns .view-content #draggableviews-table-columns-backlog tr {
  position: relative;
}

/*  TASK TITLES/HANDLES  */
#main .l-region--column01 .view-columns .view-content #draggableviews-table-columns-backlog tr td.views-field-title .tabledrag-handle {
  position: absolute;
  left: 0;
  top: 2px;
  min-height: 100%;
}

#main .l-region--column01 .view-columns .view-content #draggableviews-table-columns-backlog tr td.views-field-title a[href*=task] {
  display: inline-block;
  margin-left: 10px;
}

#main .l-region--column02 .view-columns .view-content .views-row .views-field-title a,
#main .l-region--column03 .view-columns .view-content .views-row .views-field-title a {
  display: block;
}

#main .l-region--column02 .view-columns .view-content .views-row .views-field-title,
#main .l-region--column03 .view-columns .view-content .views-row .views-field-title {
  padding-left: 10px;
}

/*  SIDEBAR  */
.l-sidebar {
  *zoom: 1; /* IE 7 and below hack */
  width: 230px;
  overflow-y: scroll;
  right: 0;
  position: fixed;
}

.l-sidebar-toggle {
  *zoom: 1; /* IE 7 and below hack */
  width: 20px;
  right: 230px;
  position: fixed;
}

.tabledrag-toggle-weight-wrapper {
  display: none; /* hide "Show row weights" */
}

#block-views-revision-history-history .views-row {
  padding: 5px 5px 5px 10px;
}

#block-views-revision-history-history .views-row .views-field-title-1,
#block-views-revision-history-history .views-row .views-field-revert-revision {
  display: inline-block;
}

/*  SIDEBAR HEADER  */
#block-views-revision-history-history h2.block__title {
  padding-left: 5px;
}

.sidebar-checkbox {
  display: none;
}

.sidebar-label {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/*  STATES  */
#block-views-revision-history-history .views-field-field-state-revision-id .Not-started,
#block-views-revision-history-history .views-field-field-state-revision-id .Started,
#block-views-revision-history-history .views-field-field-state-revision-id .Needs-review,
#block-views-revision-history-history .views-field-field-state-revision-id .Done,
#main .l-region--column01 .view-columns .view-content #draggableviews-table-columns-backlog tr td.views-field-field-state,
#main .l-region--column02 .view-columns .view-content .views-row .views-field-field-state .field-content,
#main .l-region--column03 .view-columns .view-content .views-row .views-field-field-state .field-content {
  padding: 2px 4px;
  display: inline-block;
}

#main .l-region--column01 .view-columns .view-content #draggableviews-table-columns-backlog tr td.views-field-field-state {
  margin-left: 10px;
}

/*  IONICONS STYLING  */
.ion-chevron-up {
  margin: auto;
  position: absolute;
  top: 40%;
  left: 30%;
}

.ion-plus {
  margin-right: 3px;
}

.tabledrag-changed-warning .ion-alert-circled {
  margin: 0 3px 0 0;
  font-size: 22px;
  float: left;
}


.ion-alert-circled {
  margin-left: 3px;
}

/*******************************************************************************
 * Breakpoints
 ******************************************************************************/
@media (min-width: 0) and (max-width: 970px) {
  .l-column-container {
    max-width: 0;
    min-width: 720px;
  }
}

@media (min-width: 970px) and (max-width: 1240px) {
  .l-column-container {
    max-width: 720px;
    min-width: 0;
  }
}

@media (min-width: 1240px) and (max-width: 1450px) {
  .l-column-container {
    max-width: 990px;
    min-width: 0;
  }
}

@media (min-width: 1450px) and (max-width: 1600px) {
  .l-column-container {
    max-width: 1200px;
    min-width: 0;
  }
}

@media (min-width: 1600px) and (max-width: 1850px) {
  .l-column-container {
    max-width: 1350px;
    min-width: 0;
  }
}

@media (min-width: 1850px) {
  .l-column-container {
    max-width: 1600px;
    min-width: 0;
  }
}